.node {
		cursor: pointer;
	}

.node rect {
  fill: rgb(165, 203, 218);
  stroke: grey;
  stroke-width: 1px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}
